/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
} */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* CSS BREAKS IF I UMCOMMENT THIS CODE */
