.task-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-labels {
  display: flex;
  flex-wrap: wrap;
  /* gap: 0.5rem; */
  background-color: rgb(28, 9, 231);
  color: white;
  padding: 0.4rem;
  justify-content: flex-end;
  width: min-content;
  border-radius: 10px;
  font-size: 14px;
}
